[Unit]
Description=KLive Server

[Service]
Environment=
WorkingDirectory=/home/soju6jan/Klive/klive/
ExecStart=/home/soju6jan/Klive/klive/venv/bin/python /home/soju6jan/Klive/klive/kliveProxy.py
Restart=always

[Install]
WantedBy=multi-user.target